<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Welcome Library Page</title>
    <div th:replace="fragments/header :: header-libs"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <div class="container mt-1">
        <div class="starter">
            <h2>
                <div sec:authorize="hasAuthority('MANAGE_BOOKS')">
                    Visit <a th:href="@{/users}">your Profile Page</a>
                </div>
            </h2>
            <h2>
                <div sec:authorize="hasAuthority('MANAGE_BOOKS')">
                    Visit <a th:href="@{/librarian}">Librarian Page</a>
                </div>
            </h2>
        </div>

        <table class="table table-bordered table-striped caption-top" id="list-of-books">
            <caption class="fs-2 fw-bold">List of books</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published</th>
                <th scope="col">Status</th>
                <th scope="col" sec:authorize="hasAuthority('MANAGE_BOOKS')">Action</th>
                <th scope="col" sec:authorize="hasAuthority('MANAGE_BOOKS')">Reader name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.published}"></td>
                <td>
                    <div class="bookStatus"
                         th:if="${book.status} == true">
                        In hands
                    </div>
                    <div class="bookStatus"
                         th:if="${book.status} == false">
                        Free
                    </div>
                </td>
                <td sec:authorize="hasAuthority('MANAGE_BOOKS')">
                    <div
                            th:if="${book.status == T(acc.roadmap1.library.model.BookStatus).CAN_TAKE}">
                        <form action="#"
                              method="post"
                              th:action="@{/books/take(id=${book.id})}"
                              th:object="${reader}">
                            <input name="take" type="submit" value="Take"/>
                        </form>
                    </div>
                    <div sec:authorize="hasAuthority('MANAGE_BOOKS')"
                         th:if="${book.status == T(acc.roadmap1.library.model.BookStatus).CAN_RETURN}">
                        <form action="#"
                              method="post"
                              th:action="@{/books/return(id=${book.id})}"
                              th:object="${reader}">
                            <input name="return" type="submit" value="Take out"/>
                        </form>
                    </div>
                </td>
                <td sec:authorize="hasAuthority('MANAGE_BOOKS')">
                    <span th:text="${book.getReader().getName()}"></span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>