<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Library Login Page</title>
    <div th:replace="fragments/header :: header-libs"/>
    <style>
        .failed {
            color: red;
        }

    </style>
</head>

<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <h3>Library Login Page</h3>
    <br/>
    <br/>

    <form method="post" th:action="@{/login}">
        <div class="col-md-6">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" id="username" name="username" placeholder="Put your username" required="true"
                   type="text">
        </div>

        <div class="col-md-6">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" name="password" placeholder="Put your password"
                   required="true"
                   type="password">
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary mt-5" type="submit">Sign in</button>
        </div>
    </form>

</div>
<div th:replace="fragments/footer :: footer"/>
</body>

</html>