<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Library Login Page</title>
    <div th:replace="fragments/header :: header-libs"/>
</head>

<body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">

        <h3>Register page</h3>

        <form method="post" th:action="@{/register}" th:object="${user}">
            <div class="col-md-6">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" id="username" name="username" placeholder="Put your username" required="true"
                       th:field="*{username}" type="text">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" name="username" placeholder="Put your name" required="true"
                       th:field="*{name}" type="text">
            </div>

            <div class="col-md-6">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Put your password"
                       required="true"
                       th:field="*{password}" type="password">
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary mt-5" type="submit">Register</button>
            </div>
        </form>

        <div sec:authorize="hasAuthority('MANAGE_ACCOUNTS')">
            Add <a th:href="@{/register/admin}">new admin</a>
        </div>

        <div th:replace="fragments/footer :: footer"/>
    </div>

</body>

</html>