<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Library Login Page</title>
    <div th:replace="fragments/header :: header-css"/>
    <style>
        .failed{
            color: red;
        }
    </style>
</head>

<body>

<div class="container">
    <div th:replace="fragments/header :: header"/>

    <h3>Library Login Page</h3>
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form action="/" th:object="${user}" th:action="@{/register}" method="POST" enctype="utf8">
                <div>
                    <label th:text="Username">Username</label>
                    <input type="text" th:field="*{username}"/>
                </div>
                <div>
                    <label th:text="Name">Name</label>
                    <input type="text" th:field="*{name}"/>
                </div>
                <div>
                    <label th:text="Password">password</label>
                    <input type="password" th:field="*{password}"/>
                </div>
                <button type="submit" th:text="Submit">submit</button>
            </form>
        </div>
    </div>

    <div sec:authorize="hasAuthority('MANAGE_ACCOUNTS')">
            Add <a th:href="@{/register/admin}">new admin</a>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

</body>

</html>